node {
    fill-color: #a1d99b;
    size: 30px;
    text-size: 15;
    text-alignment: center;
    text-padding: 2;
    text-background-color: #fff7bc;
}

edge {
    shape: line;
    fill-color: #dd1c77;
    z-index: 0;
    text-background-mode: rounded-box;
    text-background-color: #fff7bc;
    text-alignment: above;
    text-padding: 2;
}